{% extends 'nav.html' %}
{% block page_header %}
<div class="page-header header-primary">
  <div class="container">
    <ul class="breadcrumb" itemprop="breadcrumb">
      <li class="first"><a href="/">Zion Forums</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>

<li><a href="/#misago">{{ forum.topic }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>

<li class="active">{{ forum.name }}</li>
    </ul>
    <h1>{{ forum.name }}</h1>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="markdown lead page-description">
    <p>{{ forum.description }}</p>
  </div>


  <div class="forum-threads-extra extra-top">
    

<div class="pagination pull-left">
  <ul>
    <li class="count">Page <strong>{{ page }}</strong> of <strong>{{ page_count }}</strong></li>
    {% if page > 1 %}
    <li><a href="/forum/{{ forum.id }}/page/{{ prev_page }}/" class="tooltip-top" title="Newer Articles"><i class="icon-chevron-left"></i></a></li>
    {% endif %}
    {% if page < page_count %}
    <li><a href="/forum/{{ forum.id }}/page/{{ next_page }}/" title="Older Articles"><i class="icon-chevron-right"></i></a></li>
    {% endif %}
  </ul>
</div>



    {% if user.is_authenticated  %}
    <a href="/forum/{{ forum.id }}/new_post/" class="btn btn-inverse pull-right"><i class="icon-plus"></i> New Article</a>
    {% endif %}
  </div>

  <div class="forum-threads-list">
    <ul>
     {% for article in article_list %}
      <li>
        <div class="thread-icon">
          <a href="/thread/please-remove-image-pop-up-325/new/" class="thread-icon-last tooltip-top" title="Click to see last post">
            <i class="icon-circle-blank"></i>
          </a>
          
        </div>
        <div class="thread-body">
          <ul class="thread-activity">
            <li class="thread-replies tooltip-top" title="Replies">
              {{ article.comments }}
            </li>
            <li class="thread-last-reply tooltip-top" title="Last post on {{ article.post_date }}">
              <a href="/thread/please-remove-image-pop-up-325/last/">{{ article.post_date }}</a>
            </li>
            <li class="thread-author tooltip-top" title="Last comment by {{ article.last_commentator.username }}">
              <a href="/user/{{ article.last_commentator.id }}/">
             {% if article.last_commentator %}
              {% if article.last_commentator.has_avatar %}
  	  		   <img class="user-avatar" src="/static/avatars/24_{{ article.last_commentator.avatar_image }}">
  	  		  {% else %}
      		   <img class="user-avatar" src="/static/default.png">
      		 {% endif %}
      		 {% endif %}
              </a>
            </li>
            
            
          </ul>
          <div class="thread-title">
            <a href="/forum/{{ forum.id }}/article/{{ article.id }}/" class="thread-link">{{ article.title }}</a>
          </div>
        </div>
      </li>
      {% endfor %}
      
    </ul>
    
    
  </div>
  <div class="forum-threads-extra">
    
<div class="pagination pull-left">
  <ul>
    <li class="count">Page <strong>{{ page }}</strong> of <strong>{{ page_count }}</strong></li>
    {% if page > 1 %}
    <li><a href="/forum/{{ forum.id }}/page/{{ prev_page }}/" class="tooltip-top" title="Newer Articles"><i class="icon-chevron-left"></i></a></li>
    {% endif %}
    {% if page < page_count %}
    <li><a href="/forum/{{ forum.id }}/page/{{ next_page }}/" title="Older Articles"><i class="icon-chevron-right"></i></a></li>
    {% endif %}
  </ul>
</div>


    
  </div>


{% endblock %}


{% block current_path %}
<li class="first"><a href="/">Misago Forums</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>

<li><a href="/#misago">{{ forum.topic }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>

<li class="active">{{ forum.name }}</li>
      
<li class="pull-right"><i class="icon-sitemap"></i> <a href="/forum-map/">Forum Map</a></li>
{% endblock %}

{% block forumcss %}  
  <script type="text/javascript">
    $(function () {
      function populateForumTooltip(target) {
        return $('#forum-' + target + ' .forum-meta').html();
      };
      
    });
  </script>
{% endblock %}
   
  
