{% extends 'nav.html' %}
{% block content %}
<div class="row usercp">
  <div class="span3">

    <ul class="nav nav-pills usercp-tabs">
      <li class="nav-header">Your Control Panel</li>
      
      
      <li><a href="/user/chavatar/">Change Avatar</a></li>
      <li><a href="/user/chemail/">Change E-mail</a></li>
      <li  class="active"><a href="/user/chpwd/">Change Password</a></li>
      
      <li><a href="/user/chname/">Change Username</a></li>
      
      <li><a href="/user/chsign/">Change Signature</a></li>
      
    </ul>

  </div>
  <div class="span9 usercp-action">

    
<div class="form-container">
  

  <div class="media usercp-avatar-menu">
 
    <div >
      <div class="form-header">
        <h1>Change Email</h1>
      </div>
       <form action="" method="post">
        
        <div class="form-fields">
          {% csrf_token %}
            <div  class="controls">
                <label class="control-label" for="id_password">New Password:</label>
                <div class="controls">
                    <input id="id_password" name="password" class="span4" type="password" maxlength="255" value="">                    
                </div>
                <label class="control-label" for="id_password_rep">Repeat New Password:</label>
                <div class="controls">
                    <input id="id_password_rep" name="password_rep" class="span4" type="password" maxlength="255" value="">                    
                </div>
                {% for error in form.password.errors %}
                		<p class="help-block" style="font-weight:bold; color:red">{{ error }}</p>
                {% endfor %}
                <p class="help-block" style="font-weight:bold; color:red">{{ reset_result }}</p>
                <p class="help-block">{{ form.password.help_text }}</p>
           </div>
        
      
         
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save New Password</button>
        </div>
      </form>
    </div>
  </div>

</div>


  </div>
</div>
{% endblock %}
