{% extends 'nav.html' %}
{% block page_header %}
<div class="user-profile user-profile-top">
  <div class="page-header header-primary user-profile-header">
    <div class="container">
      <div class="header-row">
        <div class="header">
          <h1> 
          Forum Rules
          </h1>
        
        
          
        </div>
        
         
      </div>
    </div>
  </div>

{% endblock %}



{% block content %}
<div class="container container-primary">
  <div class="markdown">
    <h1>What this forum is</h1>
<p>Welcome to Zion Creative Writing forums! Those forums were set up to provide everybody interested platform for discussion as well as opportunity to experience how advanced works on Zion are as well as to simply play with implemented functionality.</p>
<p>Remember, Zion is still Work in Progress and many things will not be here.</p>
<hr>
<h1>Code of Conduct</h1>
<p>First and foremost, whatever you do, make sure you abide to Wheaton’s Law: <strong>"Keep calm and don't be a Jerk"</strong></p>
<ul>
<li>Be nice to other users. Being snarky or jumpy doesn't help.</li>
<li>No offensive or strong language, <em>there's no need for it</em>.</li>
<li>No politics or religion discussion, <em>there's no need for it neither</em>.</li>
<li>No advertising.</li>
<li>No posting adult stuff, illegal stuff or links to adult stuff or illegal stuff.</li>
<li>No discussion about moderation actions or rules lawyering, <em>period</em>.</li>
</ul>
<hr>
<h1>Test postings</h1>
<p>This is English Creative Writing forum. Posts in languages other than English will be removed. Only exception to that are test postings made in Testing Forum, however keep on mind this forum is automatically pruned, so its good idea to move discussion to Private Thread moment it becomes something more valuable than simply a test message.</p>
<p>Thats it. Thank you and welcome aboard!</p>
  </div>
</div>


</div><!--/#wrap -->
{% endblock %}




