{% extends 'nav.html' %}
{% block content %}
	<div class="row">
  <div class="span8">
    <div class="index-forums-list">
      

      
      
      <div id="project-meta" class="index-category index-category-important">
        <div class="header">
          <h2>Literature & Fiction Writing</h2>
        </div>
        {% for forum in topic1_forumlist %}
        <div class="forum">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title"><a href="/forum/{{ forum.id }}/" >{{ forum.name }}</a></h3>
            <div class="forum-details">
              <div class="thread-name">
                <a href="/forum/{{ forum.id }}/" class="tooltip-right" title="">{{ forum.description }}</a>
              </div>
              <div class="muted"><a href="/user/{{ forum.last_author.id }}/" class="last-poster">{{ forum.last_author.username }}</a> - {{ forum.last_postdate }}</div>
            </div>
            
            
            <div class="hide forum-meta">
              <p class="forum-description">{{ forum.description }}</p>
              <div class="forum-stats">
                <span>
                Articles: <strong>{{ forum.articles }}</strong>
                </span>
              </div>
            </div>
            
          </div>
        </div>
        {% endfor %}
        
        
        <div class="forum last">
          <div class="forum-icon forum-icon-redirect">
            <i class="icon-link"></i>
          </div>
          <div id="forum-10" class="forum-main">
            <h3 class="forum-title"><a href="https://fengyucai.github.io">Zion @ GitHub.com</a></h3>
            
            <div class="forum-details">
              <div class="thread-name">
                <a href="http://fengyucai.github.io">http://fengyucai.github.io</a>
              </div>
              <div class="muted"><span class="last-poster">2,525</span> clicks</div>
            </div>
            
            
            <div class="hide forum-meta">
              <p class="forum-description">Visit project&#39;s GitHub page where development takes place.</p>
              <div class="forum-stats">
                
                Clicks: <strong>2,525</strong>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      
      <div id="misago" class="index-category index-category-important">
        <div class="header">
          <h2>Poetry Writing</h2>
        </div>
        {% for forum in topic2_forumlist %}
      	  {% if not forloop.last %}
        <div class="forum">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title"><a href="/forum/{{ forum.id }}/">{{ forum.name }}</a></h3>
            <div class="forum-details">
              <div class="thread-name">
                  <a href="/thread/update-notification-on-acp-337/new/">{{ forum.description }}</a>
              </div>
              <div class="muted"><a href="/users/{{ forum.last_author.id }}/" class="last-poster">{{ forum.last_author.username }}</a> - {{ forum.last_postdate }}</div>
            </div>
            
            <div class="hide forum-meta">
              <p class="forum-description">{{ forum.description }}</p>
              <div class="forum-stats">
                
                <span>
                Articles: <strong>{{ forum.articles }}</strong>
               </span>
              </div>
            </div>

          </div>
        </div>
        	{% else %}
          <div class="forum last">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title"><a href="/forum/{{ forum.id }}/">{{ forum.name }}</a></h3>
            <div class="forum-details">
              <div class="thread-name">
                <a href="/thread/how-to-misago-on-localhost-in-5-minutes-updated-19/new/" class="tooltip-top" title="">{{ forum.description }}</a>
              </div>
              <div class="muted"><a href="/users/{{ forum.last_author.id }}/" class="last-poster">{{ forum.last_author.username }}</a> - {{ forum.last_postdate }}</div>
            </div>
            <div class="dropdown">
            </div>
            <div class="hide forum-meta">
              <p class="forum-description">{{ forum.description }}</p>
              <div class="forum-stats">
                <span>
                Articles: <strong>{{ forum.articles }}</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
        	{% endif %}
        {% endfor %}
       </div>

       <div id="misago" class="index-category index-category-important">
        <div class="header">
          <h2>Professional & Technical Writing</h2>
        </div>
        {% for forum in topic3_forumlist %}
        {% if not forloop.last %}
        <div class="forum">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title"><a href="/forum/{{ forum.id }}/">{{ forum.name }}</a></h3>
            <div class="forum-details">
              <div class="thread-name">
                <a href="/thread/update-notification-on-acp-337/new/">{{ forum.description }}</a>
              </div>
              <div class="muted"><a href="/users/{{ forum.last_author.id }}/" class="last-poster">{{ forum.last_author.username }}</a> - {{ forum.last_postdate }}</div>
            </div>
            
            <div class="hide forum-meta">
              <p class="forum-description">{{ forum.description }}</p>
              <div class="forum-stats">
                <span>
                Articles: <strong>{{ forum.articles }}</strong>
               </span>

              </div>
            </div>

          </div>
        </div>
        {% else %}
          <div class="forum last">
          <div class="forum-icon">
            <i class="icon-comment"></i>
          </div>
          <div id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title"><a href="/forum/{{ forum.id }}/">{{ forum.name }}</a></h3>
            <div class="forum-details">
              <div class="thread-name">
                <a href="/thread/how-to-misago-on-localhost-in-5-minutes-updated-19/new/" class="tooltip-top" title="">{{ forum.description }}</a>
              </div>
              <div class="muted"><a href="/users/{{ forum.last_author.id }}/" class="last-poster">{{ forum.last_author.username }}</a> - {{ forum.last_postdate }}</div>
            </div>
            <div class="dropdown">
            </div>
            <div class="hide forum-meta">
              <p class="forum-description">{{ forum.description }}</p>
              <div class="forum-stats">
                <span>
                Articles: <strong>{{ forum.articles }}</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
       </div>     
      
        
        
       
      
      <div id="varia" class="index-category">
        <div class="header">
          <h2>Discussion Board</h2>
        </div>
        
        <div class="forum">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-19" class="forum-main">
            <h3 class="forum-title"><a href="/forum/web-design-and-development-19/">Web Design and Development</a></h3>
            
            <div class="forum-details">
              
              
              <div class="thread-name">
                <a href="/thread/unicodedecodeerrorascii-codec-cant-decode-295/new/" class="tooltip-top" title="[UnicodeDecodeError]&#39;ascii&#39; codec can&#39;t decode .....">[UnicodeDecodeError]&#39;ascii&#39; cod...</a>
              </div>
              <div class="muted"><a href="/users/lzlzj-284/" class="last-poster">lzlzj</a> - June 2, 2014</div>
            </div>
            
            
            <div class="hide forum-meta">
              <p class="forum-description">A place for off-topic discussion about Python, PHP, HTML, CSS, JavaScript, MySQL, etc. etc.</p>
              <div class="forum-stats">
                
                <span>Posts: <strong>7</strong></span>
                Threads: <strong>3</strong>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="forum">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-20" class="forum-main">
            <h3 class="forum-title"><a href="/forum/general-chat-20/">General Chat</a></h3>
            
            <div class="forum-details">
              
              
              <div class="thread-name">
                <a href="/thread/hi-all-308/new/">Hi all!</a>
              </div>
              <div class="muted"><a href="/users/xavier-307/" class="last-poster"></a> - July 26, 2014</div>
            </div>
            
            
            <div class="hide forum-meta">
              <p class="forum-description">Anything and everything you want to talk about that doesn&#39;t fit into other forums.</p>
              <div class="forum-stats">
                
                <span>Posts: <strong>51</strong></span>
                Threads: <strong>4</strong>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="forum last">
          <div class="forum-icon">
            <i class="icon-comment-alt"></i>
          </div>
          <div id="forum-21" class="forum-main">
            <h3 class="forum-title"><a href="/forum/testing-forum-21/">Testing Forum</a></h3>
            
            <div class="forum-details">
              
              
              <div class="thread-name">
                <a href="/thread/this-forum-is-emptied-automatically-32/new/" class="tooltip-top" title="This forum is emptied automatically">This forum is emptied automatic...</a>
              </div>
              <div class="muted"><a href="/users/rafalp-1/" class="last-poster"></a></div>
            </div>
            
            
            <div class="hide forum-meta">
              <p class="forum-description">Spammy forum for posting testing messages.</p>
              <div class="forum-stats">
                
                <span>Posts: <strong>1</strong></span>
                Threads: <strong>1</strong>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      

      
    </div>
  </div>
  <div class="span4 index-sidebar">

    

    
    <div class="index-ranks-list">
      
    </div>
    

    

    
    <div class="index-popular-threads">
      <h4>
        
        Latest Articles
        
      </h4>
      <ul class="unstyled">
      {% for article in latest_articles %}
        <li>
          <a href="/forum/{{ article.forum.id }}/article/{{ article.id }}" class="index-popular-thread tooltip-top" title="{{ article.title }}">
          {{ article.title }}
          </a>
          <div class="muted"><a href="/user/{{ article.author.id }}/"> {{ article.author.username }}</a>      {{  article.post_date }} </div>
        </li>
       {% endfor %}
       
        
       
      </ul>
    </div>
    

    

    <div class="index-stats">
      <ul class="unstyled">
        <li>
          <span class="tooltip-top" title="Articles"><i class="icon-comment"></i> {{ article_count }}</span>
        </li>
        <li>
          <span class="tooltip-top" title="Comments"><i class="icon-th-list"></i> {{ comment_count }}</span>
        </li>
        <li>
          <span class="tooltip-top" title="Users"><i class="icon-group"></i> {{ user_count }}</span>
        </li>
        
        <li>
          <span class="tooltip-top" title="Online"><i class="icon-map-marker"></i> 1 <span class="muted">2</span></span>
        </li>
        
      </ul>
    </div>

    

    
    <form action="/" method="get" class="index-forums-read-all">
      <input type="hidden" name="_csrf_token" value="2xFZTcL8ZECTfGSU">
      <button type="submit" class="btn btn-link"><i class="icon-ok"></i> Mark forums read</button>
    </form>
    

    

  </div>
</div>
{% endblock %}

{% block current_path %}
<li class="first"><a href="/">Zion Forums</a></li>
<li class="pull-right"><i class="icon-sitemap"></i> <a href="/forum-map/">Forum Map</a></li>
{% endblock %}

{% block forumcss %}
  <script type="text/javascript">
  	 $(function () {
      function populateForumTooltip(target) {
        return $('#forum-' + target + ' .forum-meta').html();
      };
      
       {% for forum in topic1_forumlist %}
        $('#forum-{{ forum.id }} .forum-title').tooltip({
          template: '<div class="tooltip forum-meta-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
          placement: 'right',
          html: true,
          title: populateForumTooltip({{ forum.id }})
        });
       {% endfor %}
       
       {% for forum in topic2_forumlist %}
        $('#forum-{{ forum.id }} .forum-title').tooltip({
          template: '<div class="tooltip forum-meta-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
          placement: 'right',
          html: true,
          title: populateForumTooltip({{ forum.id }})
        });
       {% endfor %}
       
       {% for forum in topic3_forumlist %}
        $('#forum-{{ forum.id }} .forum-title').tooltip({
          template: '<div class="tooltip forum-meta-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
          placement: 'right',
          html: true,
          title: populateForumTooltip({{ forum.id }})
        });
	   {% endfor %}
      
      
        
      
    });
  </script>
{% endblock %}
